<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="../../css/bootstrap/bootstrap.min.css" />
<script type="text/javascript" src="../../js/jquery.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="../../js/self/util.js"></script>
<script type="text/javascript" src="../../js/self/ssm.operate.js"></script>
</head>
<body>
<body>
	<form id="form_operateEntity" th:action="@{/dep/operate}" method="post">
		<input type="hidden" name="TOKEN_KEY" value="<%= TokenProcessor.getInstance().saveToken(request) %>"/>
		<input type="hidden" name="id" value="${department.id}">
		<input type="hidden" name="pageNum" value="${pageNum}">
		<table class="table table-bordered" style="width: 50%;" id="table_operateEntity">
			<tr>
				<td width="20%">部门名称</td>
				<td width="50%">
					<input id="valid_text_name" name="name" th:value="${department.name}" class="form-control"/>
				</td>
				<td><span id="span_validName">部门名称不能为空</span></td>
			</tr>
			<tr>
				<td colspan="3">
					<button type="button" class="btn btn-success" id="button_sureOperate">确定</button>
					<button type="button" class="btn btn-default" id="button_return" 
					url="/dep/admin">返回</button>
				</td>
			</tr>
		</table>
	</form>
</body>
</body>
</html>