<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="../../css/bootstrap/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="../../css/easyui/default/easyui.css"/>
<script type="text/javascript" src="../../js/jquery.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap/laydate.js"></script>
<script type="text/javascript" src="../../js/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../../js/easyui/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="../../js/self/util.js"></script>
<script type="text/javascript" src="../../js/self/ssm.module.js"></script>
<script type="text/javascript" th:inline="none">
if("${type}" == "toHandle"){
	pager.showPageExt = function() {
		$.each($("#table_entity tbody tr"), function() {
			if($(this).children("td:first").children(":hidden[name='hidden_status']").val() == 3){
				$(this).children("td:last").children(":button[name='button_handle']").attr("disabled", "disabled");
			}
		});
	};
}
$("document").ready(function(){
	$("#select_procedureType").change(function() {
		$.post("/proc/list-by-type", "procedureTypeId=" + $(this).val(), function(procedureList) {
			$("#search_procId").children("option[value != '']").remove();
			for(var i in procedureList){
				var procId = procedureList[i].id;
				var procedureName = procedureList[i].name;
				$("#search_procId").append($("<option value='"+procId+"'>"+procedureName+"</option>"));
			}
		});
	});

	var width = $('#div_south').width() * 0.5;
	$("#table_control thead tr").children("td:eq(0)").css("width", width * 0.33);
	$("#table_control thead tr").children("td:eq(1)").css("width", width * 0.33);
	$("#table_control thead tr").children("td:eq(2)").css("width", width * 0.34);
	//再添加一个扩展事件用于查询控件
	$("#search_procId").change(function() {
		$("#table_control tbody").empty();
		$(":hidden[name='controls']").val([]);
		if($(this).val()){
			//查询该流程包含的控件
			$.post("/proc/list-control", "procId=" + $(this).val(), function(controlList) {
				for(var i in controlList){
					var controls = controlList[i].split(",");
					for(var j in controls){
						var $select = $("<select style='width: 100%;'></select>");
						$select.append($("<option value='='>等于</option>"));
						$select.append($("<option value='like'>包含</option>"));
						$select.append($("<option value='>'>大于</option>"));
						$select.append($("<option value='<'>小于</option>"));
						$select.append($("<option value='>='>大于等于</option>"));
						$select.append($("<option value='<='>小于等于</option>"));
						$select.append($("<option value='!='>不等于</option>"));
						var $tr = $("<tr><td width='"+width*0.33+"'>"+controls[j].split("_")[1]+"(" + controls[j].split("_")[0] + ")" +
								"</td width='"+width*0.33+"'><td width='"+width*0.33+
								"'></td><td contenteditable='true' width='"+width*0.34+"'></td></tr>");
						$tr.children("td:eq(1)").append($select);
						$("#table_control tbody").append($tr);
					}
				}
			});
		}
	});

	//详细查询
	$("#button_detaileSelect").click(function() {
		var controls = new Array();
		//得到参与查询的控件
		$.each($("#table_control tbody tr"), function() {
			var value = $(this).children("td:eq(2)").text().trim();
			if(value) {
			    var text = $(this).children("td:eq(0)").text();
			    if(text != null && text != "") {
                    var arrs = text.split(/[()]/g);
                    if (arrs.length > 1) {
                        controls.push(arrs[1] + "|" +
                            $(this).children("td:eq(1)").children("select").val() + "|" + value);
                    }
                }
			}
		});
		$(":hidden[name='controls']").val(controls);
		pager.submitForm();
	});
});
function buttonMapClick(button_map) {
	var text = $(button_map).parent("td").parent("tr").children("td:eq(0)").text() + "流程图";
	var affairId = $(button_map).parent("td").parent("tr").children("td:eq(0)").children(":hidden[name='hidden_id']").val();
	var procId = $(button_map).parent("td").parent("tr").children("td:first").children(":hidden[name='hidden_procId']").val();
	//调用父窗口方法，新开一个窗口跳转到节点设计页面，类型type=checkAffair
	window.parent.open(text, "/proc/to-proc-chart?pageNum=1&type=checkAffair&id=" + procId + "&affairId=" + affairId);
}

function buttonHandleClick(button_observe, type) {
	var id = $(button_observe).parent("td").parent("tr").children("td:first").children(":hidden[name='hidden_id']").val();
	var sponsorName = $(button_observe).parent("td").parent("tr").children("td:eq(2)").text();
	if(type == "handle"){
		location.href = "/affair/to-handle?type=handle&pageNum="+pager.pageNum+"&id=" + id + "&sponsorName=" + sponsorName;
	}else{
		var text = $(button_observe).parent("td").parent("tr").children("td:first").text().trim() + "表单";
		//调用父窗口方法，新开一个窗口跳转到节点设计页面，类型type=readonly
		window.parent.open(text, "/affair/to-handle?type=examine&pageNum=1&id=" + id + "&sponsorName=" + sponsorName);
	}
}
</script>
<title></title>
</head>
<body class="easyui-layout">
	<div data-options="region:'center'">
		<form th:action="@{/affair/page}" id="form_select">
			<input type="hidden" name="pageNum" th:value="${pageNum}">
			<input type="hidden" name="type" th:value="${type}">
			<input type="hidden" name="controls">
			<div class="form-group" style="width: 15%; float: left;margin: 10px 10px 10px 0px;">
				<label for="select_procedureType" style="float: left; margin-right: 10px;">流程类型</label>
				<div style="float: left; width: 70%;">
					<select id="select_procedureType" class="form-control">
						<option>---不限---</option>
						<option th:each="procedureType:${procedureTypeMap}" th:value="${procedureType.key}" th:text="${procedureType.value.name}"></option>
					</select>
				</div>
			</div>
			<div class="form-group" style="width: 15%; float: left;margin: 10px 10px 10px 0px;">
				<label for="search_name" style="float: left; margin-right: 10px;">流程名称</label>
				<div style="float: left; width: 70%;">
					<select id="search_procId" class="form-control" param="p.id" relation="=">
						<option value="">---不限---</option>
					</select>
				</div>
			</div>
			<div style="margin: 10px 10px 10px 0px; float: left; width: 15%;">
				<label for="search_startDate" style="float: left; margin-right: 10px;">起始日期</label>
				<div class="input-group" style="float: left; width: 70%;">
					<input class="form-control" id="search_startDate"
						   datetype="date" param="A.CREATE_TIME_" relation=">=">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">
							<span class="glyphicon glyphicon-calendar"></span>
						</button>
					</span>
				</div>
			</div>
			<div style="margin: 10px 10px 10px 0px; float: left; width: 15%;">
				<label for="search_endDate" style="float: left; margin-right: 10px;">截止日期</label>
				<div class="input-group" style="float: left; width: 70%;">
					<input type="text" class="form-control" id="search_endDate" 
					datetype="date" param="A.CREATE_TIME_" relation="<=">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">
							<!-- 搜索图标 -->
							<span class="glyphicon glyphicon-calendar"></span>
						</button>
					</span>
				</div>
			</div>
			<div class="form-group" style="width: 15%; float: left;margin: 10px 10px 10px 0px;" th:if="${session.loginer.supper}">
				<label for="search_name" style="float: left; margin-right: 10px;">发起人</label>
				<div style="float: left; width: 70%;">
					<input type="text" class="form-control" id="search_name" param="E.NAME_" relation="like">
				</div>
			</div>
			<div style="margin: 10px 10px 10px 0px; float: left; width: 15%;" th:if="${type=='monitor'}">
				<label for="search_name" style="float: left; margin-right: 10px;">流程状态</label>
				<div style="float: left; width: 70%;">
					<select id="search_status" class="form-control" param="a.status" relation="=">
						<option value="">-&#45;&#45;不限-&#45;&#45;</option>
						<option value="0">正在流转</option>
						<option value="1">已打回</option>
						<option value="2">已完结</option>
					</select>
				</div>
			</div>
		</form>
		<table class="table table-bordered" id="table_thead">
			<tr align="center">
				<td style="width: 20%;" id="td_name">事务名称</td>
				<td style="width: 15%;" id="td_procedureName">流程名称</td>
				<td style="width: 10%;" id="td_sponsorName">创建人</td>
				<td style="width: 10%;" id="td_nodeName">步骤</td>
				<td style="width: 15%;" id="td_createTime" formatPattern="yyyy-MM-dd hh:mm:ss">发起时间</td>
				<td th:if="${type == 'monitor'}" style="width: 15%;" id="td_status" switch="0:正在流转;1:已打回;2:已完结">流程状态</td>
				<td>操作</td>
			</tr>
		</table>
		<div style="overflow-y: scroll;" id="div_entity">
			<table class="table table-hover table-bordered" id="table_entity">
				<tbody>
					<tr>
						<td>
							<input type="hidden" name="hidden_id"/>
							<input type="hidden" name="hidden_procId"/>
							<input type="hidden" name="hidden_formId">
							<input type="hidden" name="hidden_status">
							<input type="hidden" name="hidden_name" log="true"/>
							<input type="hidden" name="hidden_sponsorName" log="true" />
						</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td th:if="${type == 'monitor'}"></td>
						<td align="left">
							<button th:if="${type == 'toHandle'}" type="button" class="btn btn-info btn-xs" name="button_handle"
									onclick="buttonHandleClick(this,'handle')">
								<span class="glyphicon glyphicon-link"></span>&nbsp;办理
							</button>
							<button type="button" class="btn btn-default btn-xs" 
							onclick="buttonMapClick(this)">
								<span class="glyphicon glyphicon-retweet"></span>&nbsp;流程图
							</button>
							<button type="button" class="btn btn-primary btn-xs"
							onclick="buttonHandleClick(this, 'examine')">
								<span class="glyphicon glyphicon-search"></span>&nbsp;查看
							</button>
							<button th:if="${type == 'monitor'}" type="button" class="btn btn-danger btn-xs"
									onclick="buttonDeleteClick(this, '/affair/delete')">
								<span class="glyphicon glyphicon-trash"></span>&nbsp;删除
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- 引入分页页面 -->
		<div th:replace="base/page"></div>
	</div>
	<div data-options="region:'south',split:true,title:'精确查询',collapsed:true" style="height:300px;" id="div_south">
		<table class="table table-hover table-bordered" id="table_control" style="width: 50%;">
			<thead style="display: block;">
				<tr height="25px">
					<td style="padding: 0px;" align="center">控件名称</td>
					<td style="padding: 0px;" align="center">条件关系</td>
					<td style="padding: 0px;" align="center">值</td>
				</tr>
			</thead>
			<tbody style="display: block; overflow-y: scroll; max-height: 190px;">
			</tbody>
			<tfoot>
				<tr height="25px">
					<td colspan="3" align="center" style="padding: 0px;">
						<button type="button" class="btn btn-success btn-xs" id="button_detaileSelect" 
						style="margin-top: 0px; margin-bottom: 0px;">查询</button>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</body>
</html>